<article class="blog">
    <div class="blog-post-figure">
        {{#if post.thumbnail}}
            <figure class="blog-thumbnail">
                <a href="{{post.url}}">
                    <img src="{{getImage post.thumbnail}}" alt="{{post.thumbnail.alt}}" title="{{post.thumbnail.alt}}">
                </a>
            </figure>
        {{/if}}
    </div>

    <div class="blog-post-body">
        <header class="blog-header">
            <h1 class="blog-title">
                <a href="{{post.url}}">{{post.title}}</a>
            </h1>
            <p class="blog-date">{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} on {{/if}}{{post.date_published}}</p>
        </header>

        <div class="blog-post">
            {{#if post.body}}
                <p>{{{post.body}}}</p>
            {{else}}
               <p>{{{post.summary}}}</p>
                {{#if post.show_read_more}}
                    <a href="{{url}}" class="listview-style" style="color: #0a0a0a; text-align: center; font-size: 16px; width: 100%;">Read More</a>
                {{/if}}
            {{/if}}
        </div>


        {{#if show_tags}}
            {{#if post.tags}}
                <ul class="tags">
                    {{#each post.tags}}
                    <li class="tag">
                        <a href="{{url}}">#{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/if}}

        {{>components/common/share}}

        {{#if show_tags}}
        <div class="blog-shop-cta">
            <h3 class="blog-shop-cta__heading">Shop Tractor Parts</h3>
            <p class="blog-shop-cta__text">Broken Tractor carries thousands of hard-to-find parts for Case, John Deere, Ford, Kubota, Caterpillar, and more. If we don't have it listed, we'll find it.</p>
            <div class="blog-shop-cta__btns">
                <a href="/categories/" class="blog-shop-cta__btn">Browse All Parts</a>
                <a href="/pages/parts-request/" class="blog-shop-cta__btn blog-shop-cta__btn--secondary">Request a Part</a>
            </div>
        </div>
        {{/if}}

    </div>
</article>
