<article class="blog">
    <div class="blog-post-figure">
        {{#if post.thumbnail}}
            <figure class="blog-thumbnail">
                <a href="{{post.url}}">
                    <img src="{{getImage post.thumbnail 'grande'}}" alt="{{post.thumbnail.alt}}" title="{{post.thumbnail.alt}}" loading="eager">
                </a>
            </figure>
        {{/if}}
    </div>

    <div class="blog-post-body">
        <header class="blog-header">
            <h1 class="blog-title">
                <a href="{{post.url}}">{{post.title}}</a>
            </h1>
            <p class="blog-date">{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} on {{/if}}{{post.date_published}}</p>
        </header>

        <div class="blog-post">
            {{#if post.body}}
                <p>{{{post.body}}}</p>
            {{else}}
               <p>{{{post.summary}}}</p>
                {{#if post.show_read_more}}
                    <a href="{{url}}" class="listview-style" style="color: #0a0a0a; text-align: center; font-size: 16px; width: 100%;">Read More</a>
                {{/if}}
            {{/if}}
        </div>


        {{#if show_tags}}
            {{#if post.tags}}
                <ul class="tags">
                    {{#each post.tags}}
                    <li class="tag">
                        <a href="{{url}}">#{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/if}}

        {{>components/common/share}}

        {{#if show_tags}}
        <div class="blog-related">
            <h3 class="blog-related__heading">You Might Also Like</h3>
            <div class="blog-related__grid">
                <a href="/blog/case-580-shuttle-transmission-problems-rebuild-tips" class="blog-related__card">
                    <div class="blog-related__card-body">
                        <h4 class="blog-related__title">Case 580 Shuttle Transmission Problems: The 3 Symptoms That Tell You What's Worn</h4>
                        <span class="blog-related__cta">Read Article &rarr;</span>
                    </div>
                </a>
                <a href="/blog/why-an-excavator-emits-black-smoke-causes-and-solutions/" class="blog-related__card">
                    <div class="blog-related__card-body">
                        <h4 class="blog-related__title">Why an Excavator Emits Black Smoke: Causes and Solutions</h4>
                        <span class="blog-related__cta">Read Article &rarr;</span>
                    </div>
                </a>
                <a href="/blog/case-580-series-loader-backhoe-serial-number-guide-find-your-year-fast-and-order-the-right-parts-the-first-time/" class="blog-related__card">
                    <div class="blog-related__card-body">
                        <h4 class="blog-related__title">Case 580 Serial Number Guide: Find Your Year Fast and Order the Right Parts</h4>
                        <span class="blog-related__cta">Read Article &rarr;</span>
                    </div>
                </a>
                <a href="/blog/why-an-excavator-emits-black-smoke-causes-and-solutions/" class="blog-related__card">
                    <div class="blog-related__card-body">
                        <h4 class="blog-related__title">Ford Tractor 3-Point Hitch Problems: What to Check Before You Buy Parts</h4>
                        <span class="blog-related__cta">Read Article &rarr;</span>
                    </div>
                </a>
            </div>
            <a href="/blog/" class="blog-related__all">View All Articles &rarr;</a>
        </div>
        {{/if}}

        {{#if show_tags}}
        <div class="blog-shop-cta">
            <h3 class="blog-shop-cta__heading">Shop Our Parts</h3>
            <p class="blog-shop-cta__text">Broken Tractor carries thousands of hard-to-find parts for Case, John Deere, Ford, Kubota, Caterpillar, and more. If we don't have it listed, we'll find it.</p>
            <div class="blog-shop-cta__btns">
                <a href="/" class="blog-shop-cta__btn">Browse All Parts</a>
                <a href="/pages/parts-request/" class="blog-shop-cta__btn blog-shop-cta__btn--secondary">Request a Part</a>
            </div>
        </div>
        {{/if}}

    </div>
</article>
