<div class="quote-wrap">
  <p class="quote">“My Case 580C backhoe brakes were out. Broken Tractor had all of the parts I needed and got them to me in two days.”</p>
  <p class="quote-author">Mark H. - Ohio</p>
</div>

<div class="quote-wrap">
  <p class="quote">“Thanks to Broken Tractor, Our Ford 3610 tractor is up and running for less than a third of what the dealer priced us.”</p>
  <p class="quote-author">James W. - Pennsylvania</p>
</div>

<div class="quote-wrap">
  <p class="quote">“Broken Tractor is always our first call for replacement parts on our rental fleet of Case dozers and backhoes.”</p>
  <p class="quote-author">Marcus T. - Texas</p>
</div>

<div class="quote-wrap">
  <p class="quote">“You guys are amazing! Our John Deere 650G was up and running again less than 24 hours after ordering. You will hear from us again!!”</p>
  <p class="quote-author">Christina C. - Indiana</p>
</div>

<div class="quote-wrap">
  <p class="quote">“We checked everywhere for used parts on our Case 580 Super L. Broken Tractor really came through! Great price, fast shipping, and friendly salesman!”</p>
  <p class="quote-author">John F. - Mississippi</p>
</div>

<div class="quote-wrap">
  <p class="quote">“Broken Tractor is amazing! We get our orders so fast and accurate every time. Living on a small island we have a hard time getting the things we need but you guys always come through for us. Even calling to confirm we our order. Mahalo!”</p>
  <p class="quote-author">Lori N. - Hawaii</p>
</div>

<div class="quote-wrap">
  <p class="quote">“I'm always skeptical ordering from companies I don't know on the internet. Broken Tractor is legit and I got the part very quickly. I also had to call and speak to someone who was very helpful. I will definitely use them again if needed.”</p>
  <p class="quote-author">Melanie P.</p>
</div>

<div class="quote-wrap">
  <p class="quote">“I have ordered a few parts from Broken Tractor and have never been disappointed by the price or quality. Broken Tractor is a great business to deal with. Keep up the good work!”</p>
  <p class="quote-author">Wanda H.</p>
</div>
