<div class="quote-wrap">
  <p class="quote">“Your salesman, Everett, was great and if this is the caliber of help you have consider yourself very blessed.”</p>
  <p class="quote-author">Jack M. - Colorado</p>
</div>

<div class="quote-wrap">
  <p class="quote">“We checked everywhere for used parts on our Case 580 Super L. Broken Tractor really came through! Great price, fast shipping, and friendly salesman!”</p>
  <p class="quote-author">John F. - Mississippi</p>
</div>

<div class="quote-wrap">
  <p class="quote">“Broken Tractor is amazing! We get our orders so fast and accurate every time. Living on a small island we have a hard time getting the things we need but you guys always come through for us. Even calling to confirm we our order. Mahalo!”</p>
  <p class="quote-author">Lori N. - Hawaii</p>
</div>

<div class="quote-wrap">
  <p class="quote">“I'm always skeptical ordering from companies I don't know on the internet. Broken Tractor is legit and I got the part very quickly. I also had to call and speak to someone who was very helpful. I will definitely use them again if needed.”</p>
  <p class="quote-author">Melanie P.</p>
</div>

<div class="quote-wrap">
  <p class="quote">“I have ordered a few parts from Broken Tractor and have never been disappointed by the price or quality. Broken Tractor is a great business to deal with. Keep up the good work!”</p>
  <p class="quote-author">Wanda H.</p>
</div>
<div class="quote-wrap">
  <p class="quote">“Broken tractor is a very great company! I have bought from them before in a shipment and it's always great. The filters fit well and work terrific, and I recommend to anyone that needs them to not hesitate to buy from them price is well and good.”</p>
  <p class="quote-author">Joe S.</p>
</div>
<div class="quote-wrap">
  <p class="quote">“Broken Tractor has the most customer friendly site I have ever used they make it so easy to make sure your ordering the right parts.”</p>
  <p class="quote-author">William S.</p>
</div>
<div class="quote-wrap">
  <p class="quote">“The sensor looked just like it came from the dealer. Works great and passed calibration just like it should. I will using Broken Tractor going forward. I own my own equipment field service company and it is nice to get parts at a reasonable price and it preforms just like oem parts. Thanks Broken Tractor.”</p>
  <p class="quote-author">Kevin M.</p>
</div>
<div class="quote-wrap">
  <p class="quote">“Broken Tractor had the parts that I needed and shipped them quickly. I will be ordering my parts from Broken Tractor in the future.”</p>
  <p class="quote-author">John C.</p>
</div>
<div class="quote-wrap">
  <p class="quote">“The best in the business! First time ordering parts from this company and I was amazed at how user friendly the website was and parts were received in just a couple of days. I will not be shopping anywhere else when it comes to buying parts for my equipment!”</p>
  <p class="quote-author">Zackary H.</p>
</div>
<div class="quote-wrap">
  <p class="quote">“Responsive Pros with Excellent Customer Focus! I ordered several parts to repair my Ford 545D loader tractor. The new parts were mostly all OEM with a much lower cost than competing sellers. The most expensive part, the front axle pivot support, was purchased used. That part was virtually new, with no visible sign of wear. The used part order required some questions from me that were answered quickly and accurately by this seller. Needless to say, I'll keep Broken Tractor at the top of my tractor parts vendors list. ”</p>
  <p class="quote-author">Wayne K.</p>
</div>
<div class="quote-wrap">
  <p class="quote">“When you have an old tractor it can be hard to find parts for it when you have problems. Searching on line I found Broken Tractor. I sent my torque converter to them, they rebuilt it and sent it back to me in about a week! Fast service and it is working great. Thanks and thanks for the helpful and friendly customer service ladies.”</p>
  <p class="quote-author">Gene L.</p>
</div>
<div class="quote-wrap">
  <p class="quote">“I recommend broken tractor all of the time.. Great prices fast delivery and lots of parts that are very hard to find or get anywhere!!!!”</p>
  <p class="quote-author">Laverne B.</p>
</div>
<div class="quote-wrap">
  <p class="quote">“Received my parts quickly and the parts are high quality. Just good people to work with all way around can’t go wrong with Broken Tractor.”</p>
  <p class="quote-author">David C.</p>
</div>
<div class="quote-wrap">
  <p class="quote">“Awesome people to do business with. Will definitely buy any parts I need from them in the future. In a world where customer service sucks, these guys are the Chic-fil-a of the parts industry.”</p>
  <p class="quote-author">Donald C.</p>
</div>
