{{#if banners.top}}
<div class="banners" data-banner-location="top">
    <div class="banner">
        {{{limit banners.top 1}}}
    </div>
</div>
{{/if}}
<div id="htop">
	<div class="hinner">
    	<span id="hphone">CALL <a href"tel:8009097060">(800) 909-7060</a></span>
        <div id="hlinks">
        	<a href="/pages/parts-request/">Parts Request</a>
        	<a href="/blog/">Blog</a>
        	<a href="/pages/contact-us/">Contact Us</a>
        	<span id="account-dd">Account <i class="fa fa-angle-down"></i></span>
            <div id="accountMenu">
                <ul>
                    {{#if customer}}
                        <li><a href="/account.php" id="accToplink">My Account</a></li>
                        <li><a href="/account.php?action=order_status">Order Status</a></li>
                        <li><a href="{{urls.auth.logout}}">Sign Out</a></li>
                     {{else}}
                        <li><a href="/login.php" id="accToplink">SIGN IN</a></li>
                        <li><a href="/account.php?action=order_status">Order Status</a></li>
                        <li><a href="/login.php?action=create_account">Create Account</a></li>
                    {{/if}}
                </ul>
            </div>
        	<a
                data-cart-preview
                data-dropdown="cart-preview-dropdown"
                data-options="align:right"
                href="{{urls.cart}}"
                id="cartlink"
                >
                <i class="fa fa-shopping-cart"></i>
            </svg>
            	<strong>Cart <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">({{cart.quantity}})</span></strong>
                <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </div>
    </div>
</div>
<header class="header" id="nav-banner" role="banner">
    <div class="header-inner">
        <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>

        <a href="/" id="logolink">
            <svg id="header-logo"><use xlink:href="#icon-brokentractor-logo" /></svg>
        </a>

        <a href="/cart.php" id="mcartlink">
            <i class="fa fa-shopping-cart"></i>

            <span id="mcart-count">{{cart.quantity}}</span>
        </a>

        <div id="header-search">
            {{> components/common/search-box}}
        </div>

        {{{region name="header_bottom"}}}
        <a href="/pages/parts-request">
        <div class="parts-request">
          Parts Request
        </div>
        </a>

        <div id="shop-parts">
            Shop Parts
            <svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true" data-fa-processed="" data-prefix="fa" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
        </div>


        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
    </div>
</header>
<script>
window.onscroll = function() {navScroll()};

var navbar = document.getElementById("nav-banner");
var sticky = navbar.offsetTop;

function navScroll() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
