---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
{{#if pagination.category.previous}}
<link rel="prev" href="{{pagination.category.previous}}">
{{/if}}
{{#if pagination.category.next}}
<link rel="next" href="{{pagination.category.next}}">
{{/if}}
{{/partial}}


{{#partial "pagename"}}listpage{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<h1 class="page-heading">{{category.name}}</h1>

<div id="dsubcat">
    {{#each category.subcategories}}
    <div class="subcat">
        <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">
            <span>{{name}} </span>
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
    {{/each}}
</div>

{{{snippet 'categories'}}}
<div class="page">


    <main class="page-content" id="product-listing-container">


        {{#if category.products}}
        <!-- <input type="text" class="form-input-fits-model" id="myInput" onkeyup="myFunction()" placeholder="Find by Model" title="Type in a Model Name"> -->
        <div id="slidetableouter" class="noref">
            <table id="slidetable">
                <tr id="tableheaders">
                    <td class="thcell pn image">Image</td>
                    <td class="thcell pn FitsModel" id="FitsModel">Fits Model</td>
                    <td class="thcell pn ListDescription">Description</td>
                    <td class="thcell pn ListDetails" style="display: none;">Details</td>
                    <td class="thcell pn static sku">Part #</td>
                    <td class="thcell pn price">Price</td>
                    <td class="thcell pn vd">Product Details</td>
                    <td class="thcell pn atc">Add to Cart</td>
                </tr>
                    {{> components/category/product-listing}}
            </table>
        </div>
        {{else}}
        <style>#product-listing-container, #swipemsg {display: none;}</style>
        {{/if}}

        <div id="backtotop" style="display: none;">
            <i class="fas fa-chevron-up"></i>
            <div>TOP</div>
        </div>
    </main>


</div>

<div id="categoryDescription">
    {{#if category.description}}
    {{{category.description}}}
    {{/if}}
</div>
<style>
    table#slidetable td.REFID {display: none;}
    .form-input-fits-model {
      border: 1px solid #ccc;
      color: #000;
      display: block;
      font-family: inherit;
      font-size: 16px;
      height: 40px;
      width: 100%;
      position: relative;
      z-index: 11;
      padding:.75rem 1rem;
    }
</style>
<!-- <script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("slidetable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByClassName("FitsModel")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script> -->
{{/partial}}
{{> layout/base}}
