---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "pagename"}}homepage{{/partial}}
{{#partial "hero"}}

<div id="hp-wrap">
    <div class="discountBanner" style="text-align: center; font-size: 20px; background-color: #ffbe00;">
              <p style="padding-top: 1.5rem; padding-bottom: 1.5rem; padding-left: 10px; padding-right: 10px; margin-bottom: 0 !important; max-width: 650px; margin: auto;">We will be closed Thursday to Friday, November 24 to 25th for Thanksgiving. We will return to the office on Monday November 28th. Thank you and have a happy Thanksgiving!</p>
        </div>

    <div id="shopbytype">
        <div class="hp-inner">
            <h1>SHOP BROKEN TRACTOR'S REPLACEMENT PART MANUFACTURERS</h1>
            <p>We sell discount new, used, and rebuilt parts for every major brand. Click any button below to browse our catalog.</p>
            <div id="hp-shopby">
                <a href="/c/case-industrial-parts/"><span>Case Industrial</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/john-deere-industrial-parts/"><span>John Deere Industrial</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/ford-tractor-and-industrial-parts/"><span>Ford / New Holland</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/international-dresser-industrial-parts/"><span>International / Dresser Industrial</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/king-kutter-parts/"><span>King Kutter</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/john-deere-tractor-parts/"><span>John Deere Tractor</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/case-international-tractor-parts/"><span>Case / International Tractor</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/cat-industrial-parts/"><span>Cat Industrial</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/komatsu-industrial-parts/"><span>Komatsu Industrial</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/bobcat/"><span>Bobcat Industrial</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/long-agribusiness-tractor-parts/"><span>Long Tractor</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/kubota-tractor-parts/"><span>Kubota Tractor</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/kobelco/"><span>Kobelco</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/jcb/"><span>JCB</span><i class="fa fa-angle-right"></i></a>
                <a href="/pages/return-exchange-request/"><span>Make a Return or Exchange</span><i class="fa fa-angle-right"></i></a>
                <a href="/pages/parts-request/"><span>Parts Request</span><i class="fa fa-angle-right"></i></a>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    <div id="hp-hero">
        <div id="heroinner">
            <h3>New, rebuilt & used </h3>
            <h2>MACHINERY PARTS ONLINE</h2>
            <p>We are a family owned business and have been providing new and repeat customers with tractor, backhoe, dozer and other machinery parts for over fifty years. We are Broken Tractor.</p>
            <a href="/pages/parts-request/" class="hero-btn button button--primary">
                REQUEST A PART
            </a>


        </div>
    </div>
    <div id="hp-quote">
        <div class="hp-inner">
            <div class="bigq">&ldquo;</div>
                {{> components/common/footer-testimonials}}
        </div>
     </div>
     <div id="hp-readmore">
        <div class="hp-inner">
            <div class="rmbox">
                <strong>New, Used and Rebuilt Machinery Parts at Broken Tractor</strong>
                <p>Welcome to Broken Tractor! We are a machinery parts store specializing in new, used, rebuilt and aftermarket parts for tractors, backhoes, dozers, excavators, and more. We carry parts for top-of-the-line brands such as <a href="/c/case-construction-parts/">Case</a>, <a href="/c/john-deere-parts/">John Deere</a>, <a href="/c/ford-new-holland-parts/">Ford, New Holland</a>, <a href="/c/international-farmall-case-ag-tractor-parts/">Farmall</a>, Dresser, Caterpillar, <a href="/c/kubota-tractor-parts/">Kubota</a>, Komatsu, King Kutter, and Long!</p>
                <p>We pride ourselves in selling parts built in the United States, whenever possible! As a member of a specialty parts locator network, we have the advantage of working with more than five hundred salvage yards and rebuilders across the United States and Canada. Because our parts are located in North America, we can find the parts you need in a quick and efficient way. This also means that most of our parts are typically half-off the original dealer price! You can rest assured you are getting the best deal online for heavy machinery parts.</p>
            </div>
            <div class="rmbox">
                <strong>Used and Rebuilt Parts and Machines at Broken Tractor</strong>
                <p>If you are in the market for rebuilt parts and components such as engines, transmissions, rear axles and final drives, we recommend that you give us a call. While our used parts are not listed on our website, we have a variety of used and rebuilt parts. If we don't have the part that you are looking for, fill out our <a href="/pages/parts-request/">Parts Request Form</a>, and one of our parts representatives will contact you. We salvage many <a href="/c/case-loader-backhoe/">Case 580 backhoes</a>, dozers and loaders, as well as Ford tractors and backhoes. You can also find... salvaged parts for <a href="/c/ford-new-holland-parts/ford-new-holland-backhoe-and-industrial-parts/">New Holland backhoes</a> and <a href="/c/john-deere-backhoe-parts/">John Deere Backhoes</a>, dozers and many more brand name machines.</p>
                <p>Most of our parts are taken off of machines with less than 1,000 hours of use and are guaranteed to be in excellent condition. In regards to used Case backhoe booms, dipper sticks and swing towers, you will find that these parts have very little wear and tear. All of our parts - new, used and rebuilt - go through a rigorous inspection and are warranted before they are sent to you. We want you to be fully satisfied with your purchases from our online store, so we will do everything we can to help give you an excellent experience.</p>
            </div>
            <div class="rmbox">
                <strong>Shipping of your New, Used and Rebuilt Parts</strong>
                <p>Do you need your part quickly? You're in luck! We have warehouses all over the country to ensure a quick and easy delivery time. Most of our parts ship from our warehouses the same day you place your order. And many times, orders are delivered the next business day!</p>
                <p>Our in house parts are manufactured following strict quality standards in our warehouse in Ohio. Parts such as hydraulic cylinders, pins, bushings, sheet metal, track adjusters, booms and dipper sticks are all ready to ship same day that they are purchased! With less time to wait for your shipment, you will be able to get back to work as quickly as possible.</p>
                <p>Did you accidentally purchase the incorrect part? We offer returns and exchanges here at Broken Tractor. To proceed with a return, please call us toll free, and we will provide you with return authorization and a step by step return process for your convenience. We are more than happy to help you exchange your part for the correct one! Give us a call at (800) 909-7060 and we would be pleased to help you.</p>
            </div>
            <div style="clear:both;"></div>
        </div>
     </div>
     <a href="https://www.brokentractor.com/c/broken-tractor-merchandise/">
     <div class="merch-ad">
         <img src="{{cdn 'img/merch-crop.png'}}" srcset="{{cdn 'img/merch-crop.png'}} 2x" alt="Click to View our Merch Section" style="width: 100%"/>
     </div>
     </a>
     <div id="hp-hth">
        <div class="hp-inner">
            <img src="{{cdn 'img/tractor-logo.png'}}" srcset="{{cdn 'img/tractor-logo-x2.png'}} 2x" alt="Tractor Logo" />
            <h2>Happy to Help</h2>
            <p>Our knowledgeable staff will be happy to help you with any of your tractor, backhoe, dozer, or engine parts needs. Our customer support staff is available by phone:</p>
        </div>
     </div>
     <div id="hp-phone">
        <div class="hp-inner">
            <h3>Call <a href="tel:8009097060">(800) 909-7060</a></h3>
            <div class="hp-hours">
                Monday - Friday, 8am - 5pm (CST)
            </div>
        </div>
     </div>
     <div style="clear:both;"></div>
</div>
{{/partial}}

{{#partial "page"}}

{{/partial}}
{{> layout/base}}
