---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "pagename"}}homepage{{/partial}}
{{#partial "hero"}}

<div id="hp-wrap">

  <!-- <div class="discountBanner" style="text-align: center; font-size: 20px; background-color: #4a4a4a;">
    <p style="padding-top: 1.5rem; padding-bottom: 1.5rem; padding-left: 10px; padding-right: 10px; margin-bottom: 0 !important; max-width: 80%; margin: auto; color: #fff;">WEATHER WARNING: There may be delayed shipping from the BR location due to Hurricane Francine.</p>
  </div> -->
    <!-- <div id="shopbytype">

        <div class="hp-inner">

            <h1 class="welcome-title">Quality parts you need to get back to work ... <i>fast!</i></h1>
            <p>We sell discount new, used, and rebuilt parts for every major heavy equipment brand. Click any button below to browse our catalog. <i>100% USA based customer support. Si Hablamos Espanol</i>.</p>

            <div id="pf-embed-container" style="margin-bottom: 20px; box-shadow: 0 1px 3px rgb(0 0 0 / 20%);"></div>
            <div id="hp-shopby">
                <a href="/c/case-industrial-parts/"><span>Case</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/john-deere-industrial-parts/"><span>John Deere</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/ford-tractor-and-industrial-parts/"><span>Ford / New Holland</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/cat-industrial-parts/"><span>Caterpillar</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/international-dresser-industrial-parts/"><span>International / Dresser </span><i class="fa fa-angle-right"></i></a>
                <a href="/c/king-kutter-parts/"><span>King Kutter</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/komatsu-industrial-parts/"><span>Komatsu</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/bobcat/"><span>Bobcat</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/long-agribusiness-tractor-parts/"><span>Long</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/kubota-tractor-parts/"><span>Kubota</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/kobelco/"><span>Kobelco</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/jcb/"><span>JCB</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/hitachi/"><span>Hitachi</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/hyundai/"><span>Hyundai</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/volvo/"><span>Volvo</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/doosan/"><span>Doosan</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/daewoo/"><span>Daewoo</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/samsung/"><span>Samsung</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/yanmar-parts/"><span>Yanmar</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/linkbelt/"><span>Linkbelt</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/ihi/"><span>IHI</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/takeuchi/"><span>Takeuchi</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/jlg/"><span>JLG</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/genie/"><span>Genie</span><i class="fa fa-angle-right"></i></a>
                <a href="/c/wacker-neuson/"><span>Wacker Neuson</span><img class="new-icon" src="https://cdn11.bigcommerce.com/s-knh0cnq2u8/images/stencil/original/image-manager/new.png" alt=""><i class="fa fa-angle-right"></i></a>
                <a href="/c/gehl/"><span>Gehl</span><img class="new-icon" src="https://cdn11.bigcommerce.com/s-knh0cnq2u8/images/stencil/original/image-manager/new.png" alt=""><i class="fa fa-angle-right"></i></a>
                <a href="/c/ditch-witch/"><span>Ditch Witch</span><img class="new-icon" src="https://cdn11.bigcommerce.com/s-knh0cnq2u8/images/stencil/original/image-manager/new.png" alt=""><i class="fa fa-angle-right"></i></a>
                <a href="/c/hyster/"><span>Hyster</span><img class="new-icon" src="https://cdn11.bigcommerce.com/s-knh0cnq2u8/images/stencil/original/image-manager/new.png" alt=""><i class="fa fa-angle-right"></i></a>
                <a href="/c/hanix/"><span>Hanix</span><img class="new-icon" src="https://cdn11.bigcommerce.com/s-knh0cnq2u8/images/stencil/original/image-manager/new.png" alt=""><i class="fa fa-angle-right"></i></a>
                <a href="/c/koehring/"><span>Koehring</span><img class="new-icon" src="https://cdn11.bigcommerce.com/s-knh0cnq2u8/images/stencil/original/image-manager/new.png" alt=""><i class="fa fa-angle-right"></i></a>
                <a href="/c/liebherr/"><span>Liebherr</span><img class="new-icon" src="https://cdn11.bigcommerce.com/s-knh0cnq2u8/images/stencil/original/image-manager/new.png" alt=""><i class="fa fa-angle-right"></i></a>
                <a href="/c/sumitomo/"><span>Sumitomo</span><img class="new-icon" src="https://cdn11.bigcommerce.com/s-knh0cnq2u8/images/stencil/original/image-manager/new.png" alt=""><i class="fa fa-angle-right"></i></a>
                <a href="/c/mitsubishi/"><span>Mitsubishi</span><img class="new-icon" src="https://cdn11.bigcommerce.com/s-knh0cnq2u8/images/stencil/original/image-manager/new.png" alt=""><i class="fa fa-angle-right"></i></a>
                <a href="/c/timberjack/"><span>Timberjack</span><img class="new-icon" src="https://cdn11.bigcommerce.com/s-knh0cnq2u8/images/stencil/original/image-manager/new.png" alt=""><i class="fa fa-angle-right"></i></a>
                <a href="/c/tigercat-parts/"><span>TigerCat</span><img class="new-icon" src="https://cdn11.bigcommerce.com/s-knh0cnq2u8/images/stencil/original/image-manager/new.png" alt=""><i class="fa fa-angle-right"></i></a>
                <a href="/pages/return-exchange-request/" class="alt-cat-button"><span>Make a Return or Exchange</span><i class="fa fa-angle-right"></i></a>
                <a href="/pages/parts-request/" class="alt-cat-button"><span>Parts Request</span><i class="fa fa-angle-right"></i></a>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div> -->
    <div id="shopbytype">
        
        <div class="video-background-section" style="position: relative;">
            <video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
                <source src="https://assets.codepen.io/6093409/river.mp4" type="video/mp4">
              </video>
            <div class="home-card-container">
            <div class="home-card">
                <h1 class="welcome-title" style="margin: 0;">Quality parts you need to get back to work ... <i>fast!</i></h1>
                <div class="row" style="display: flex; flex-direction: row;">
                    
                <form action="/action_page.php">
                    <label for="cars">Choose a Brand:</label>
                    <select name="cars" id="cars">
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>
                    <label for="cars">Choose a Machine:</label>
                    <select name="cars" id="cars">
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>
                    <br><br>
                    <input type="submit" value="Submit">
                </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div id="hp-hero">
        <div id="heroinner">
            <h3>New, rebuilt & used </h3>
            <h2>MACHINERY PARTS ONLINE</h2>
            <p>Since 2006, Broken Tractor has been a family-owned cornerstone in the machinery parts industry. Whether you're in need of tractor, backhoe, dozer parts, or more, we're your go-to source. Can't find what you're searching for? Don't hesitate to reach out; we're here to help!</p>
            <a href="/pages/parts-request/" class="hero-btn button button--primary">
                REQUEST A PART
            </a>
            <a href="/pages/about-us/" class="hero-btn button button--primary">
                ABOUT US
            </a>


        </div>
    </div>
    <div id="hp-quote">
        <div class="hp-inner">
            <div class="bigq">&ldquo;</div>
                {{> components/common/footer-testimonials}}
        </div>
     </div>
     <div id="hp-readmore">
        <div class="hp-inner">
            <div class="rmbox">
                <strong>New, Used, and Rebuilt Tractor & Heavy Equipment Parts</strong>
                <p>Welcome to Broken Tractor—your dependable online source for new, used, and rebuilt parts for tractors, backhoes, dozers, excavators, and other heavy equipment. We proudly supply top-quality replacement parts for trusted brands like <a href="/c/case-construction-parts/">Case</a>, <a href="/c/john-deere-parts/">John Deere</a>, <a href="/c/ford-new-holland-parts/">Ford / New Holland</a>, <a href="/c/caterpillar/">Caterpillar</a>, <a href="/c/kubota/">Kubota</a>, <a href="/c/komatsu-parts/">Komatsu</a>, <a href="/c/dresser/">Dresser</a>, <a href="/c/king-kutter-parts/">King Kutter</a>, <a href="/c/long/">Long</a>, and more.</p>
                <p>Customers across the United States and around the world rely on us for new aftermarket, OEM, rebuilt, and Used parts. Through our strong relationships with a wide range of trusted suppliers, salvage yards, and rebuilders, we can quickly source the parts you need to keep your equipment running. Most orders ship directly from North America, offering you fast delivery and significant savings compared to dealer prices. Count on Broken Tractor for reliable parts, expert guidance, and honest, friendly service.</p>
            </div>
            <div class="rmbox">
                <strong>Your Trusted Source for Quality Parts</strong>
                <p>At Broken Tractor, we specialize in supplying tractor and heavy equipment parts to help you repair and maintain your machinery with confidence. Our wide selection includes new aftermarket, OEM, rebuilt, and used parts such as engines, transmissions, hydraulic cylinders, axles, pins, bushings, final drives, and more.</p>
                <p>All salvaged and rebuilt parts are carefully inspected and tested by our trusted partners to meet our high standards for quality and performance. Can’t find a specific part listed online? <a href="/pages/parts-request/">Submit a Parts Request</a> or <a href="/pages/contact-us/">contact us</a> directly—our experienced team will help you locate rare or discontinued components for virtually any make or model. We are committed to delivering the right part, at the right price, with unmatched customer service for customers worldwide.</p>
            </div>
            <div class="rmbox">
                <strong>Fast Global Shipping & Hassle-Free Returns</strong>
                <p>Broken Tractor offers fast, dependable shipping to customers worldwide. With warehouses across North America and a streamlined logistics network, most orders ship the same day, ensuring your parts arrive quickly—no matter where you are located.</p>
                <p>Need to return or exchange a part? Our easy returns process and knowledgeable support team make it simple to get the correct replacement. Simply fill out our <a href="/pages/return-exchange-request/">Return Request form</a> and we will contact you in a timley manner.</p>
                <p>Call us at (800) 909-7060 or browse our online parts catalog to get started. Broken Tractor—your global source for heavy equipment and tractor parts!</p>
            </div>
            <div style="clear:both;"></div>
        </div>
     </div>
     <a href="https://www.brokentractor.com/c/broken-tractor-merchandise/">
     <div class="merch-ad">
         <img src="{{cdn 'img/merch-crop.png'}}" srcset="{{cdn 'img/merch-crop.png'}} 2x" alt="Click to View our Merch Section" style="width: 100%"/>
     </div>
     </a>
     <div id="hp-hth">
        <div class="hp-inner">
            <img src="{{cdn 'img/tractor-logo.png'}}" srcset="{{cdn 'img/tractor-logo-x2.png'}} 2x" alt="Tractor Logo" />
            <h2>Happy to Help</h2>
            <p>Our knowledgeable staff will be happy to help you with any of your tractor, backhoe, dozer, or engine parts needs. Our customer support staff is available by phone:</p>
        </div>
     </div>
     <div id="hp-phone">
        <div class="hp-inner">
            <h3>Call <a href="tel:8009097060">(800) 909-7060</a></h3>
            <div class="hp-hours">
                Monday - Friday, 8am - 5pm (CST)
            </div>
        </div>
     </div>
     <div style="clear:both;"></div>
</div>
{{/partial}}

{{#partial "page"}}

{{/partial}}
{{> layout/base}}
