// Page Navigation
// -----------------------------------------------------------------------------
//
// Purpose: Contains the styles for the page navigation, deals with 2 viewsdue to
// responsive layout of that navigation
//
// 1. It's not exactly a grid row, as it's a little further down the DOM tree, but
// I use it here to grab the max width centering.
// 2. Prevent document scrolling by clipping its body
// 3. Prevent inertia scrolling of document
//
// -----------------------------------------------------------------------------


//
// Shared styles for sub page navigation
// -----------------------------------------------------------------------------

// Page Navigation
// -----------------------------------------------------------------------------
//
// Purpose: Contains the styles for the page navigation, deals with 2 views
// due to responsive layout of that navigation.
//
// 1. Shared styling for child lists.
// 2. Prevent document scrolling when nav is open.
// 3. Styles for top-level nav container.
// 4. Styling for nav pages layout and interaction.
// 5. Submenu interaction, arrow toggles, hover styles.
// -----------------------------------------------------------------------------

// 1. Shared styles for sub page navigation
%navPage-childList {
  border-left: 1px solid $navPage-childList-borderColor;
  margin: spacing("quarter") spacing("half");
  padding-left: spacing("half");
}

// 2. Lock scrolling when menu is open
.has-activeNavPages {
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
  height: 100%;
  display: fixed;
  font-family: "proxima-nova", arial, sans-serif;
}

// 3. Navigation wrapper container
.navPages-container {
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: 0;
  z-index: zIndex("lower");
  font-family: "proxima-nova", arial, sans-serif;

  &.is-open {
    display: block;
    padding-top: 72px;
    z-index: 9999;
  }
}

// 4. Main nav panel
.navPages {
  background-color: #333;
  height: 100%;
  overflow-y: auto;
  font-family: "proxima-nova", arial, sans-serif;

  ul {
    list-style: none;
  }

  .navPage-subMenu-list, .navPage-childList {
    margin: 0;
    background: #ffbe00;
  }
}

// Top-level list container
.navPages-list {
  margin: 0;

  + .navPages-list {
    border-top: 1px solid $navPages-list--user-borderColor;
    margin-top: spacing("half");
    padding-top: spacing("half");
  }
}

// Navigation links
.navPages-action {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding: 0 0 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px #676767 solid;
  font-family: "proxima-nova", arial, sans-serif;
  height: 50px;
  line-height: 52px;

  svg {
    fill: stencilColor("navPages-color");
    stroke: stencilColor("navPages-color");
    transition: all 0.15s ease;
  }

  &:hover,
  &:active,
  &.is-open {
    color: #fff !important;
    background-color: #ffbe00;
  }
}

// Arrow icons
.navPages-action.has-subMenu svg {
  font-size: 22px;
  float: right;
  position: relative;
  top: 15px;
  right: 13px;

  @include breakpoint("medium") {
    float: none;
    display: inline-block;
    top: -3px;
    right: -3px;
  }
}

// State styling when open
.navPages-action.has-subMenu.is-open {
  color: #ffbe00;
  background: #001212;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }

  @include breakpoint("medium") {
    color: #000;
    background: transparent;

    &:hover,
    &:focus {
      color: #000;
    }
  }

  svg {
    color: #fff;
    transform: rotate(-180deg);
  }
}

// Desktop-specific styling
.navPages-item > .navPages-action {
  @include breakpoint("medium") {
    border: 1px solid #676767;

    &.is-open {
      color: #fff;
      background-color: #333;
    }
  }
}

// Miscellaneous
.navPages-action--storeCredit {
  color: stencilColor("color-textSecondary");
}

.navPages-action--compare {
  display: none;

  &.show {
    display: block;
  }
}

// Expand arrow styles
.navPages-action-moreIcon {
  @include square(8px);
  margin-left: spacing("quarter");
  transform: rotate(-90deg);

  .has-subMenu.is-open & {
    transform: rotate(0);
  }
}

// Hide SVG arrows in child submenus
.navPage-subMenu-action.navPages-action.has-subMenu svg {
  display: none;
}

// 5. Submenu block
.navPage-subMenu {
  display: none;
  outline: 0;

  &.is-open {
    display: block;
    width: -webkit-fill-available;
    text-wrap-mode: nowrap;
  }

  @include breakpoint("medium") {
    position: absolute;
    z-index: 100;
    background: #001212;
    padding: 0;
  }
}

// Rotate darrow
.navPages-action[aria-expanded="true"] .darrow {
  transform: rotate(180deg);
}

// Submenu links
.navPage-subMenu-action {
  padding: spacing("half") 0;
  text-transform: capitalize;
  font-size: 15px;
  font-family: "proxima-nova", arial, sans-serif;
  font-weight: bold;
  padding: 0 15px;
  color: #000;
  line-height: 48px;
}

ul.navPage-subMenu-list {
  margin-left: 0;
  background: #ffbe00;
  color: #000;
  font-family: "proxima-nova", arial, sans-serif;
}

li.navPage-subMenu-item:hover {
  background: transparent;

  a.navPage-subMenu-action.navPages-action:before {
    border-top: 3px #ffbe00 solid;
    border-right: 3px #ffbe00 solid;
  }
}

// Hover state cleanup
#menu .navPage-subMenu-item a:hover,
#menu .navPage-subMenu-item a:focus {
  color: #fff;
}

// Account menu cleanup
#menu #navPages-acc > ul > li > a {
  color: #fff;
  padding: 10px 20px;
  border-top: 1px #676767 solid;
  display: block;
  width: 100%;
  font-family: "proxima-nova", arial, sans-serif;
}
