<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "TechArticle",
  "headline": "{{product.name}}",
  "url": "{{product.url}}",
  "author": {
    "@type": "Organization",
    "name": "Broken Tractor",
    "url": "https://www.brokentractor.com"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Broken Tractor",
    "url": "https://www.brokentractor.com",
    "logo": {
      "@type": "ImageObject",
      "url": "https://cdn11.bigcommerce.com/s-knh0cnq2u8/images/stencil/original/image-manager/broken-tractor-badge-full-color-rgb-1920px-w-72ppi.png"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{product.url}}"
  }
}
</script>
