{{#if product_results.products.length}}
{{> components/products/filter sort=pagination.product_results.sort}}

<form action="{{urls.compare}}" method='POST' data-product-compare>
   		<div id="slidetableouter">
                <table id="slidetable">
                    <caption class="is-srOnly">Search results parts list</caption>
                    <thead>
                    <tr id="tableheaders">
                        <th scope="col" class="thcell pn static ref">REF #</th>
                        <th scope="col" class="thcell pn image">Image</th>
                        <th scope="col" class="thcell pn FitsModel">Fits Model</th>
                        <th scope="col" class="thcell pn ListDescription">Description</th>
                         <th scope="col" class="thcell pn ListDetails" style="display: none;">Details</th>
                        <th scope="col" class="thcell pn static sku">Part #</th>
                        <th scope="col" class="thcell pn price">Price</th>
                        <th scope="col" class="thcell pn atc">Add to Cart</th>
                    </tr>
                    </thead>
                    <tbody>
        			{{> components/products/list products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings}}
                    </tbody>
                </table>
            </div>



</form>

{{> components/common/paginator pagination.product_results}}
{{/if}}
