<h1 class="page-heading" data-cart-page-title>
    {{lang 'cart.label' quantity=cart.quantity}}
</h1>
<div class="warning-message" id="ymalwrap1" >
  Currently, we are monitoring global supply chain disruptions. Please be aware that extra time may be required for your order. We are doing everything we can to serve your needs and keep shipping as low as possible. Unfortunately, many of these delays are out of our control. If you have any questions, comments or concerns please email us at <a href="mailto:parts@brokentractor.com?subject=shipping">parts@brokentractor.com</a>.
</div>
