// =============================================================================
// BLOG
// =============================================================================


// Blog post
// -----------------------------------------------------------------------------
.body {
      background: url(../img/gbg.jpg) !important;  
    }
.blog {
    box-shadow: 0px 0px 8px #ccc;
    background: #fff;
    padding: 30px 50px;
    margin-bottom: spacing("single");

    @include breakpoint("medium") {
        margin: auto;
        width: 100%;
    }

    + .blog {
        border-top: container("border");
        margin-top: spacing("double");
        padding-top: spacing("double");
    }

    .tags {
        margin-top: spacing("double");
        text-align: center;
    }

    .socialLinks {
        text-align: center;
    }

    // scss-lint:disable SelectorFormat
    .addthis_toolbox {
        display: none;
    }
    // scss-lint:enable SelectorFormat
}

.blog-title {
    font-size: fontSize("large");
    margin: 0 spacing("single") spacing("quarter");

    a {
        text-decoration: none;
    }
}

.blog-date,
.blog-author {
    color: stencilColor("color-textSecondary");
    text-align: center;
}

.blog-author {
    margin-bottom: spacing("single") + spacing("base");
}

.blog-post {
    font-size: fontSize("smaller");
    text-align: left;
}

.blog-thumbnail {
    margin: 0 0 (spacing("base") * 2);
}

.blog-post-figure {
    display: block;
    margin: auto;
    text-align: center;

    @include breakpoint("medium") {
        a img {
            // width: 100%;
            max-height: 200px;
        } 
    }
}

.blog-post-body {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    a {
      color: rgb(102, 68, 0);
    }

    @include breakpoint("small") {
        width: grid-calc(10, $total-columns);
    }

    @include breakpoint("medium") {
        width: grid-calc(8, $total-columns);
    }

    @include breakpoint("large") {
        width: 80%;
    }
}
.blog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-block {
    flex: 0 0 100%; // Mobile default (1 per row)
    padding: 20px;
    // box-shadow: 0px 0px 8px #ccc;
    // background: #fff;

    @include breakpoint("medium") {
        flex: 0 0 calc(50% - 10px); // 2 per row on medium+
        padding: 20px;
    }
}
