// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Product view layout
// -----------------------------------------------------------------------------

.productView {
    padding-top: 0px;
    max-width: 1240px;
    margin: auto;
    @include clearfix;
}
.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}
section.productView-images {
    @include breakpoint("large") {
        float: left;
        width: 50%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
.productView-images {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    float: left;
    background: #fff;
    padding: 15px 15px;
    margin-bottom: 0px;
}

.productView-details {
    display: none;
}

.productView-description {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("large") {
        clear: right;
        float: right;
        width: grid-calc(6, $total-columns);
    }

    .productView-title {
        border-bottom: container("border");
        margin-bottom: spacing("base");
        padding-left: spacing("base");
        padding-right: spacing("base");
    }

    .productView-description {
        @include breakpoint("medium") {
            clear: both;
            float: none;
            width: 100%;
        }
    }
}

h1#producttitle {
    margin-top: 0px;
    text-align: center;
    padding: 0px 15px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 24px;

    @include breakpoint("medium") {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    @include breakpoint("large") {
        font-size: 40px;
        text-transform: inherit;
    }
}
.pvwrap .container {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

.pvwrap .breadcrumbs {
    display: block;
    font-size: 0;
    text-align: center;
    padding: 0px 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    margin-bottom: px;
}

section#pv-details {
    float: left;
    width: 100%;
    background: #fff;
    text-align: left;
}

div#fitsmodels {
    background: #ffbe00;
    text-align: left;
    color: #000;
    padding: 15px 15px;
    font-size: 20px;

    @include breakpoint("large") {
        padding: 15px 30px;
        font-size: 21px;
    }

    strong {
      color: #000;
    }
}

.pv-infobox {
    text-align: left;
    padding: 15px 15px;
    font-size: 16px;
    @include breakpoint("large") {
        margin: 0px 15px;
    }
}

div#pv-detbtm {
    padding: 26px 15px 10px 15px;
    border-bottom: 1px #ccc solid;
    position: relative;
    @include breakpoint("large") {
    padding: 26px 30px 10px 30px;
    }
}

#pv-detbtm .productView-price {
    position: relative;
    font-family:$industry;
    font-size: 24px;
    position: relative;
    text-align: left;

    @include breakpoint("medium") {
        position: relative;
        right: 0px;
        font-size: 36px;
        top: 0px;
        text-align: left;
        float: none;
    }
}
.form-field.form-field--increments {
    display: block;
    clear: both;
}
    .form-field.form-field--increments label {
    display: none;
}
.productView-options .form-field {
    font-size: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
}
.productView-options #atcwrap .form-field {
    @include breakpoint("medium") {
        position: absolute;
        z-index: 10;
        margin-top: 7px;
    }
}
#pv-details .form-increment .button {
    margin: 0;
    padding: 10px 15px;
    border-radius: 0px;
    height: 40px;
        @include breakpoint("medium") {
    height: 54px;
    }
}
#pv-details .form-input--incrementTotal {
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-radius: 0px;
    padding: 8px 0px;
    width: 48px;
    height: 40px;
        @include breakpoint("medium") {
    height: 54px;
    }
}
input#form-action-addToCart {
    background: #ffbe00;
    color: #000;
    border: none;
    border-radius: 0px;
    font-family:$industry;
    text-transform: uppercase;
    font-size: 24px;
    padding: 17px 0px 13px 0px;
    height: 60px;
    width: 100%;
    border: 2px #000 solid;

    &:hover, &:active, &:focus {
        background: #001212;
        color: #ffbe00;
    }
    @include breakpoint("medium") {
        width: calc(100% - 160px);
        float: right;
    }
}
div#pv-help {
    padding: 15px;
    max-width: 450px;
    margin: auto;
    font-size: 16px;

    strong {
        font-size: 21px;
        line-height: 22px;
        margin-top: 15px;
        margin-bottom: 10px;
        display: block;
    }
    a {
        display: block;
        border: 2px #ccc solid;
        font-weight: bold;
        font-family:$industry;
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 18px;
        padding: 7px 0px 4px 0px;
        @include breakpoint("medium") {
            display: inline-block;
            padding: 12px 15px 7px 15px;
            margin: 0px 3px;
            font-size: 16px;
        }
    }
}

.productView-options {
    margin-bottom: 0px;
    text-align: center;
}
section#pv-details {
    float: left;
    width: 100%;
    background: #fff;
    text-align: left;
    padding-bottom: 15px;
    margin-bottom: 20px;
    @include breakpoint("large") {
        float: right;
        width: calc(50% - 1px);
        border-left: 1px #ccc solid;
        margin-bottom: 0px;
    }
}
.pv-btmbox {
    float: left;
    padding: 0px 0px;
    width: 100%;
    margin-bottom: 10px;

    h2 {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 0px;

        @include breakpoint("medium") {
        font-size: 16px;
    }
}
    @include breakpoint("large") {
        float: right;
        width: 100%;
        padding-right: 30px;
        padding-left: 0px;
    }
}

div#pv-topbox {
    float: left;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
}

#previewModal {
      @include breakpoint("medium") {
  max-width: 640px;
}
}

.pvwrap .breadcrumbs {
    // display: none;
    @include breakpoint("medium") {
        display: block;
    }
}

div#pv-back {
    text-align: center;
    font-size: 16px;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    @include breakpoint("medium") {
        display: none;
    }
}
#backarrow {
    border-top: 3px #000 solid;
    border-right: 3px #000 solid;
    transform: rotate(-135deg);
    display: inline-block;
    height: 8px;
    width: 8px;
    margin-top: 24px;
}
div#refImg {
    text-align: center;
    padding: 20px;
}

div#ymalwrap {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 100%;

    h2 {
        font-family: $industry;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    @include breakpoint("medium") {
        padding: 20px 60px;
        .slick-dots {
            display: none !important;
        }

    }
}
#ymalwrap .productCarousel-slide {
    padding: 20px 10px;
    position: relative;
    padding-bottom: 70px;

    .listatc {
        background: #ffbe00;
        display: inline-block;
        width: calc(100% - 20px);
        font-family: "industry";
        height: 40px;
        line-height: 38px;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
        border: 2px #000 solid;
        margin-top: 15px;
        font-size: 17px;
        left: 10px;

        &:hover {
            background: #000;
            color: #ffbe00;
        }
    }
    strong {
        display: block;
    }

    .CorePrice {
        display: none;
    }
    .img-seedet {
        display: none !important;
    }
    .card-body {
        text-align: left;
    }
    @include breakpoint("medium") {
        padding: 20px 20px;
    }
}

#ymalwrap .card-figure {
    margin-top: 0;
    height: 200px;
    border: 1px #ccc solid;
    position: relative;


    img.card-image.lazyautosizes.lazyloaded {
        position: absolute;
        top: 50%;
        padding: 10px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
        left: 50%;
    }

}

#facetedSearch-content--category li .fa-check-square {
    display: none;
}
#facetedSearch-content--category .is-selected .fa-check-square {
    display: block;
}

#facetedSearch-content--category li .navList-action--checkbox::before {
    display: none;
}

div#pv-back {
    display: none;
}

.productView-rating {
  text-align: left;
  padding: 15px 15px 0;

  @include breakpoint("large") {
      margin: 0 15px;
  }
}

.productReviews {
    padding: 0 15px;

    h4 {
        font-size: 21px;
        text-transform: capitalize;
        padding-bottom: 10px;
        margin-top: 0;
    }
}
