<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KMCNDTB9');</script>
        <!-- End Google Tag Manager -->
        <script src="{{cdn 'assets/js/fa-solid.min.js'}}"></script>
        <script src="{{cdn 'assets/js/fontawesome.min.js'}}"></script>

        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}
		    <script src="https://use.typekit.net/jsn3czo.js"></script>
        <script>try{Typekit.load({ async: false });}catch(e){}</script>
        <script src="{{cdn 'assets/modernizr-custom.js'}}"></script>


        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}


    </head>
    <body class="{{#block 'pagename'}}{{/block}}">
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMCNDTB9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        {{{snippet 'header'}}}
        <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

        {{#if settings.privacy_cookie}}
            {{> components/common/cookie}}
        {{/if}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

        <script>
            // Exported in app.js
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>



        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{cdn 'assets/js/jquery.rwdImageMaps.min.js'}}"></script>
        <script type="text/javascript">
        $(document).ready(function(e) {
          $('img[usemap]').rwdImageMaps();
        });
        </script>
        <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=SFFDX5"></script>
        <!-- Include Klevu JavaScript Library -->
        <script src="https://js.klevu.com/core/v2/klevu.js"></script>

        <!-- Include Quick Search Theme -->
        <script src="https://js.klevu.com/theme/default/v2/quick-search.js"></script>

        {{#if page_type '===' 'search'}}
        <!-- Include Search Results Landing Page Theme -->
        <script src="https://js.klevu.com/theme/default/v2/search-results-page.js"></script>
        {{/if}}

        {{#if page_type '===' 'category'}}
        <!-- Include Category Page Theme -->
        <script src="https://js.klevu.com/theme/default/v2/category-page.js"></script>
        <script type="text/javascript">
            var klevu_pageCategory = "{{#each breadcrumbs}}{{#unless @first}}{{name}}{{#unless @last}};{{/unless}}{{/unless}}{{/each}}";
            sessionStorage.setItem("klevu_pageCategory", klevu_pageCategory);
        </script>
        {{/if}}
        <!-- Initialise Klevu for your store -->
        <script type="text/javascript">
            klevu.interactive(function () {
                var options = {
                    url : {
                        protocol: 'https:',
                        queryParam: 'search_query',
                        landing: '/search-results/', // your BigCommerce Search Results Page
                        search: 'https://uscs33v2.ksearchnet.com/cs/v2/search' // your Klevu APIv2 Search URL + endpoint path
                    },
                    search: {
                        minChars: 0,
                        searchBoxSelector: "#search_query_adv", // your BigCommerce Search Input
                        apiKey: "klevu-171839235759717388" // your Klevu JS API Key
                    },
                    analytics: {
                        apiKey: 'klevu-171839235759717388' // your Klevu JS API Key
                    }
                };
                klevu(options);
            });
        </script>
    </body>
</html>
