<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <script src="{{cdn 'assets/js/fa-solid.min.js'}}"></script>
        <script src="{{cdn 'assets/js/fontawesome.min.js'}}"></script>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}
		    <script src="https://use.typekit.net/jsn3czo.js"></script>
        <script>try{Typekit.load({ async: false });}catch(e){}</script>
        <script src="{{cdn 'assets/modernizr-custom.js'}}"></script>
        <script type="text/javascript">

        // Block IP address script- By JavaScriptKit.com (http://www.javascriptkit.com)
        // For this and over 400+ free scripts, visit JavaScript Kit- http://www.javascriptkit.com/
        // This notice must stay intact for use.

        //Enter list of banned ips, each separated with a comma:
        var bannedips=["104.131.188.187, 167.71.168.69"]

        var ip = '<!--#echo var="REMOTE_ADDR"-->'

        var handleips=bannedips.join("|")
        handleips=new RegExp(handleips, "i")

        if (ip.search(handleips)!=-1){
        alert("Your IP has been banned from this site. Redirecting...")
        window.location.replace("http://www.google.com")
        }

        </script>

        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}


    </head>
    <body class="{{#block 'pagename'}}{{/block}}">
        {{{snippet 'header'}}}
        <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

        {{#if settings.privacy_cookie}}
            {{> components/common/cookie}}
        {{/if}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

        <script>
            // Exported in app.js
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>



        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
    </body>
</html>
