<article class="card {{#if alternate}}card--alternate{{/if}}">
    <figure class="card-figure">

            <a href="{{url}}">
                <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                <span class="img-seedet">See Details</span>
            </a>
        <figcaption class="card-figcaption">
            <div class="card-figcaption-body">

           </div>
        </figcaption>
    </figure>
    <div class="card-body">

        <h4 class="card-title">
             <a href="{{url}}">{{name}}</a>
        </h4>
        {{#each custom_fields}}
            <div class="grid-item {{{name}}}">
                {{#if name '==' 'ListDescription'}}<strong>Description</strong>
                {{else if name '==' 'FitsModel'}}<strong>Fits Model</strong>
                {{else if name '==' 'exclude_in_klevu_search'}}<strong style="display:none;"></strong>
                {{else}}<strong>{{name}}</strong>{{/if}}
                {{{value}}}
            </div>
        {{/each}}
        <div class="grid-item">
            <strong>Part #</strong>
            {{{sku}}}
        </div>
        <div class="grid-item">
    <strong>Price</strong>
        {{> components/products/price price=price}}
</div>


        <a href="{{url}}" class="listatc" data-id="{{id}}" data-name="{{name}}">View Details</a>
    </div>
</article>
