<tr class="productrow">
    <td class="pvcol REFID">
        {{#each custom_fields}}
            {{#if name '===' 'REFID'}}
                {{{value}}}
            {{/if}}
        {{/each}}
    </td>
    
    <td class="pvcol image">  
        <a href="{{url}}">
            <img class="listItem-image" src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
            <span class="img-seedet">See Details</span>
        </a>
    </td>    

    {{#each custom_fields}}
        {{#if name '!=' 'REFID'}}
            <td class="pvcol {{{name}}}">{{{value}}}</td>
        {{/if}}
    {{/each}}
   
   
    {{#if summary}}
        <p style="display:none;">{{{summary}}}</p>
   {{/if}}

</tr>

