// =============================================================================
// HOME (CSS)
// -----------------------------------------------------------------------------

.homepage .banners {
	display: none;
}

.homepage .body {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top:0px;
}
.body {
	background: #fff;
}
.homepage .body , .listpage .body, .pvwrap .body  {
    background: #eee;
	@include breakpoint("medium") {
    background: url(../img/gbg.jpg);
	}

}

#hp-hero {
    background-image: url(../img/mobilestore.jpg);
    background-position: top center;
    height: auto;
    color: #fff;
    background-repeat: no-repeat;
    background-color: #000;
    padding-bottom: 15px;

	@include breakpoint("medium") {
		background: url(../img/deskhero.jpg);
		height: 360px;
		background-position: -360px 0px;
        padding-bottom: 0px;
}
		@media screen and (min-width: 1240px) {
		background-position: left center;
	}
}


#hp-hero h3 {
    margin-top: 0px;
    color: #ffbe00;
    font-family: $industry;
    text-align: center;
    display: block;
    padding-top: 250px;
    text-transform: uppercase;
    margin-bottom: -7px;
    @include breakpoint("medium") {
        padding-top: 70px;
        text-transform: uppercase;
        margin-bottom: -7px;
        font-size: 24px;
    }

}

#hp-hero h2 {
    color: #fff;
    text-align: center;
    margin-top: 0px;
    font-family: industry;
    text-transform: uppercase;
    font-size: 30px;
	margin-bottom:0px;

    @include breakpoint("medium") {
        font-size: 50px;
    }
}
#hp-hero p {
    text-align: center;
    padding: 0px 20px;
    line-height: 20px;
    font-size: 16px;
    @include breakpoint("medium") {
        margin-left: 0px;
        padding-left: 0px;
        font-size: 21px;
        line-height: 31px;
        max-width: 640px;
    }
}

div#heroinner {
    @include breakpoint("medium") {
        margin: 0 auto;
				max-width: 1240px;
				padding-left: 20px;
    }
}
div#heroinner * {
    @include breakpoint("medium") {
        text-align: left;
    }
}
.hp-inner {
    padding: 0px 10px;
    max-width: 1240px;
    text-align: center;
    margin: auto;

    p {
        font-size: 16px;
    @include breakpoint("medium") {
        font-size: 21px;
        margin-bottom: 40px;
    }
}
}
#hp-quote .hp-inner {
    max-width: 728px;
    padding: 0px;
}
.hp-inner h2 {
    font-family: $industry;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    @include breakpoint("medium") {
    font-size: 40px;
    line-height: 44px;
    padding-top: 50px;
    }
}

div#hp-shopby {
    max-width: 612px;
    margin: auto;
	@include breakpoint("large") {
		max-width: 1240px;
		position: relative;
		left: -20px;
	}
}
#hp-shopby a {
    background: #fff;
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-family: "proxima-nova", sans-serif;
    text-decoration: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 15px 15px 12px 15px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 18px;
	position:relative;
        @include breakpoint("medium") {
            margin-bottom: 20px;

}

    &:hover, &:active, &:focus {
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        background: #001212;
        color: #ffbe00;
    }

    @include breakpoint("medium") {
		&:nth-child(even) {
			margin-left: 20px;
		}

		width: calc(50% - 20px);
		float: left;
		line-height: 20px;
		min-height: 70px;
        position: relative;
	}
    @include breakpoint("large") {
		width: calc(25% - 20px);
		float: left;
		line-height: 20px;
		min-height: 70px;
	    margin-left: 20px;
	}
}

#hp-shopby a span {
    @include breakpoint("medium") {
        position: absolute;
        width: calc(100% - 60px);
        top: 50%;
        transform: translateY(-50%);
    }
}
#hp-shopby a img {
    width: 13px;
    position: absolute;
    right: 15px;
    top: 18px;
    @include breakpoint("medium") {
	    top: 26px;
	}
}
#hp-shopby .svg-inline--fa.fa-angle-right.fa-w-8, .navList-action svg {
    float: right;
    display: inline-block;
    position: relative;
    top: 2px;
    right: 0px;
    font-size: 24px;
    color: #fdb913;
    clear: both;
        @include breakpoint("medium") { 
        top: 10px;
        right: 10px;

        }
    }

div#hp-quote {
    background: #4a4a4a;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    @include breakpoint("medium") {
	    padding-bottom: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
	}
    p {
    font-family: arial, sans-serif;
    font-style: italic;
    padding: 0px 20px;
    font-size: 18px;
    @include breakpoint("medium") {
        font-size: 24px;
        margin-bottom: 20px;
        padding: 0px;
    }
    }
    .quote-author {
    font-size: 16px;
    font-style: normal;
    color: #cccccc;
    font-weight: bold;

    }

}
.bigq {
    font-family: $industry;
    font-size: 80px;
    color: #ffbe00;
    margin-bottom: -50px;
}
.bigq-text {
    font-style: italic;
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    padding: 0px 12px;
}
.biq-cust {
    color: #cccccc;
    font-weight: bold;
    margin-top: 10px;
}
.rmbox {
    background: #fff;
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-family: "industry";
    text-decoration: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 25px 20px 20px 20px;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 21px;
    position: relative;

    @include breakpoint("medium") {
	    margin: 0px 20px 25px 20px;
        font-size: 24px;
        line-height: 24px;
	}
    @media screen and (min-width: 1024px) {
		margin: 0px 0px 25px 0px;
		width: calc(33% - 10px);
		float: left;
        min-height: 620px;
	}
}
.rmbox:nth-child(2) {
    @include breakpoint("large") {
	    margin: 0px 20px;
	}
}
.rmbox p {
    font-family: proxima-nova;
    text-transform: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
// .rmbox a {
//     background: #ffbe00;
//     text-decoration: none;
//     display: inline-block;
//     padding: 11px 20px 8px 20px;
//     font-weight: 900;
// }
div#hp-hth {
    background: #ffbe00;
    color: #000;
    padding: 30px 10px 2px 10px;
    margin-top: 30px;
}
#hp-hth .hp-inner h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 0px;
    padding-top: 5px;
    margin-bottom: 0px;
	color:#000;

    @include breakpoint("medium") {
    font-size: 40px;

    }
}
#hp-hth .hp-inner p {
    font-weight: 400;
    font-family: proxima-nova;
    margin-bottom: 5px;
	margin-top:0px;
    font-size: 16px;
    @include breakpoint("medium") {
		font-size: 18px;
		font-weight: normal;
		line-height: 24px;
		margin-bottom: 12px;
	    max-width: 900px;
		margin-left: auto;
		margin-right: auto;

	}
}
div#hp-phone {
    background: #ffbe00;
    padding: 0px 18px 20px;
    @include breakpoint("medium") {
    }
}
#hp-phone h3 {
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: -5px;
    font-family: $industry;
    font-size: 21px;
    font-weight: 900;
    color: #000 !important;
    @include breakpoint("medium") {
        font-size: 24px;
		margin-bottom: -7px;
	}
    a{
        color: #000 !important;
    }

}
div#subfooter {
    text-align: center;
    background: #333333;
    color: #ccc;
}
#subfooter a {
    color: #ccc;
    text-decoration: none;
}
